{{ define "main" }}
<article class="flex flex-col xl:flex-row items-stretch justify-between gap-6">
    <header class="basis-[25%]">
        <div class="lg:sticky lg:top-2">
            <h1>{{ .Title }}</h1>
            <h2>{{ .Params.subtitle }}</h2>
            {{ if and (isset .Params "toc") (eq .Params.toc true) }}
                {{ .TableOfContents }}
            {{ end }}
            {{ with .Parent }}
                {{ if and .Params.button_link .Params.button_text }}
                    <a href="{{ .Params.button_link }}" class="button secondary">{{ .Params.button_text }}</a>
                {{ end }}
            {{ end }}
            {{ if and .Params.button_link .Params.button_text }}
                <a href="{{ .Params.button_link }}" class="button secondary">{{ .Params.button_text }}</a>
            {{ end }}
        </div>
    </header>
    <div class="basis-[50%] prose w-(--article-width) max-w-full">
        {{ .Content }}
    </div>
    <div class="basis-[20%] flex justify-end self-end">
    </div>
</article>
{{ end }}
